<h1>Home page</h1><br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem reiciendis voluptatem maxime necessitatibus quibusdam. Alias voluptate doloribus aspernatur! Hic porro cupiditate id eos ipsam impedit rerum molestiae. Similique rem, explicabo pariatur accusantium inventore magni impedit suscipit aliquam voluptates amet quaerat magnam laborum aperiam, ipsam veniam non fugit iusto asperiores qui!</p>
<br>
<a href="/about">About</a>